*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    }

    
    body, html{
        background-color:#010101 ;
        height: 100vh;
    }
    
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        color: aliceblue;
        font-family: "Poppins";
        padding: 0 3% 0 3%;
    }
    
    nav{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    a{
        color: white;
        text-decoration: none;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 700;
        position: relative;
        z-index: 2;
    }

    .link{
        text-align: center;
    }
    
    #triangulo-para-direita {
        width: 0; 
        height: 0; 
        margin-top: -38px;
        border-top: 5vw solid #363F6A;
        border-bottom: 75vw solid transparent; 
        border-right: 75vw solid #363F6A;
        opacity: 70%;
        border-radius: 20px 0;
        float: right;
    }
    
    
    .contanier {
        background-image: url(../media/back.jpg);
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 55vh;
    }
    
    h1{
        color: white;
        font-family: 'Poppins';
        text-align: right;
        font-size: 16px;
        padding-top: 10px;
        position: absolute;
        right: 5vw;
        top: 10vh;
    }
    
    h2{
        font-family: 'Poppins';
        font-size: 23px;
    }
    
    p{
        font-size: 12px;
        padding: 5px;
    }
    
    button{
        background-color: #D78023;
        color: white;
        padding: 1%;
        border-radius: 10px;
        border: 1px;
        position: absolute;
        z-index: 2;
        right: 5vw;
        top: 22vh;
    }
    button:hover{
        background-color: #363F6A;
    }
    
    
    #bola{
        width: 10%;
    }
    
    #servicopai{
        position: absolute;
        top: 52vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #servico{
        background-color: #D78023;
        margin: auto;
        color: white;
        width: 80vw;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    #servico:hover{
        background-color: #363F6A;
    }
    
    .line{
        height: 1px;
        background-color: white;
        border-radius: 10px;
    }


    
    @media screen and (min-width: 768px){

        ul{
            padding: 1% 3% 1% 3%;
        }

        a{
            font-size: 16px;
        }

        .contanier {
            background-image: url(../media/back.jpg);
            background-size: cover;
            background-position: center;
            width: 100vw;
            height: 100vh;
        }
    
        #triangulo-para-direita {
            width: 0; 
            height: 0; 
            margin-top: -86px;
            border-top: 5vw solid #363F6A;
            border-bottom: 95vh solid transparent; 
            border-right: 65vw solid #363F6A;
            opacity: 70%;
            border-radius: 60px 0 20px;
            float: right;
            margin-right: -20px;
       }
    
       
    h1{
        top: 25vh;
        font-size: 30px;
    }
    
    h2{
        font-size: 23px;
    }
    
    p{
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }
    
    button{
        top: 45vh;
    }
    
    #servicopai{
        position: absolute;
        margin: auto;
        top: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    #servico{
        width: 20vw;
        padding: 10px;
        margin-bottom: none;
        margin-right: 2%;
        gap: 10px;
        cursor: pointer;
    }

    
    .line{
        width: 15vw;
    }
    
    }
    