*{
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: #0C1117;
}

.bg-color{
    background-color: #0C1117;
    width: 100vw;
}

.padding-global{
    margin: auto;
    padding: 0 100px 0 100px;
    max-width: 1920px;
}

.padding-top{
    padding: 100px 0px 100px 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-logo{
    width: 100px;
    animation: circle 5s linear infinite;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

li{
    font-size: 12px;
}

.hero{
    display: flex;
}

button{
    background-color: #003ADB;
    color: white;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
}

.button2{
    width: 60%; 
}

.wrapper-title{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper-img_hero{
    width: 50%;
    
}

.wrapper-img_hero_img{
    background-size: cover;
    width: 100%;
    border-radius: 50px 0 0 50px;
}

.wrapper-grid-servicos {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 20px;
}

.box{
    background-color: #1B2837;
    border-radius: 20px;
    position: relative;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
}

.boxzero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.retangulo{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
}


.wrapper-teste{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.teste{
    display: flex;
    align-items: center;
    animation: slidein 5s infinite;
}

@keyframes slidein {
    from {
      margin-left: 0%;
      
    }
  
    to {
      margin-left: -50%;
      
    }}

@keyframes circle {
        0% {
            transform: rotate(0deg) translateX(5px);
        }
        100% {
            transform: rotate(360deg) translateX(5px);
        }
}

.sobre{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.wrapper-text_sobre{
    padding: 10px;
    background-color: #2B61F7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.title_h1{
    font-size: 10px;
    text-align: center;
}

span{
    font-weight: 700;
    font-size: 24px;
}

.p_sobre{
    font-size: 14px;
    line-height: 20px;
    width: 90%;
    text-align: center;
}

.redessociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.rede{
    width: 50px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 40vh 40vh;
    grid-gap: 2px;
}
.port1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.port2{
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 4;
}
.home{
    width: 100%;
}
.port3{
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 6;
}
.port4{
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
}
.port5{
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 6;
}
.port1:hover{
    transform: scale(1.5);
}


@media(max-width: 574px){

    .padding-global{
        padding: 0 20px 0 20px;
        background-color: #0C1117;
    }

    .padding-top{
        padding: 50px 0px 50px 0;
    }

    .hero{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .button{
        width: 80%;
    }

    .wrapper-title{
        width: 100%;
    }

    .wrapper-img_hero{
        width: 100%;   
    }

    .wrapper-grid-servicos {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 220px;
    }

    .sobre{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container{
        grid-template-rows: 20vh 18vh;}
}